[submodule "util/SeqChunker"]
	path = util/SeqChunker
	url = git:/software/SeqChunker
[submodule "util/SeqFilter"]
	path = util/SeqFilter
	url = /home/thackl/PhD/projects/it-and-coding/code/SeqFilter
