[submodule "util/SeqFilter"]
	path = util/SeqFilter
	url = https://github.com/BioInf-Wuerzburg/SeqFilter.git
[submodule "util/Cfg"]
	path = util/Cfg
	url = https://github.com/BioInf-Wuerzburg/perl5lib-Cfg.git
[submodule "util/PipeWrap"]
	path = util/PipeWrap
	url = https://github.com/BioInf-Wuerzburg/perl5lib-PipeWrap.git
[submodule "util/Sam"]
	path = util/Sam
	url = https://github.com/BioInf-Wuerzburg/perl5lib-Sam.git
[submodule "util/Fasta"]
	path = util/Fasta
	url = https://github.com/BioInf-Wuerzburg/perl5lib-Fasta.git
[submodule "util/Fastq"]
	path = util/Fastq
	url = https://github.com/BioInf-Wuerzburg/perl5lib-Fastq.git
[submodule "util/Jellyfish"]
	path = util/Jellyfish
	url = https://github.com/BioInf-Wuerzburg/perl5lib-Jellyfish.git
[submodule "util/Bowtie2"]
	path = util/Bowtie2
	url = https://github.com/BioInf-Wuerzburg/perl5lib-Bowtie2.git
[submodule "util/Kmer"]
	path = util/Kmer
	url = https://github.com/BioInf-Wuerzburg/perl5lib-Kmer.git
